/iga_pack
/iga_inspect
/iga_mesh_check
/iga_assembly_smoke
/iga_transport
/iga_navier_stokes

*.o
*.d
*.log
*.out

/slurm/*.out

/immersed_small_cut_solver_test
polyhedral_volume_moments_test
nonnegative_least_squares_test
fitted_cut_cell_volume_rule_test
moving_immersed_rigid_translation_test
moving_fitted_geometry_identity_test

partitioned_vtk_output_test
parallel_vtk_output_test
bezier_point_signature_test
distributed_point_identity_test
